---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

**PhD students**:

*Mr. Shenal Rajintha AS Gunawardena*: 
nonlinear system identification, Gaussian process, EEG feature selection/kernel method, Alzheimer's Disease.

*Mr. Dominik Klepl*:
network science, graph thoery, machine learning, EEG, brain connectivity.

*Ms. Sivasharmini Ganeshamoorthy*:
plant systems biology, network inference, gene regulatory networks

*Mr. Ibnu Kurniawan*
IoT, optimisation, mobile computing and communications

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

